{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "comma-dangle": ["error", "never"],
    "prefer-arrow-callback": "off",
    "no-multi-assign": "off",
    "no-plusplus": "off",
  }
}